{% extends "base.html" %}
{% block content %}


<h1>NOTÍCIAS</h1>

{% for resultado in resultado %}
<hr>
<a href="/gestao/noticias/visualizar/">{{resultado.titulo}}</a><p></p>
{{resultado.noticia}}<p></p>
Data:{{resultado.dataPublicacao}}<p></p>

<!--{{ form.instance.profile_pic.url }}-->



<img src="/media/{{resultado.foto}}" width="200" heigth="400"><p></p>






{% for funcionario in funcionario %}
Por: {{funcionario.nomeDoMembro}}<p></p>
{% endfor  %}
<hr>
{% endfor  %}

{% endblock content %}